.card {
    background-color: #354365;
    width: 30vw;
    height: 10vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 12px;
}

.text {
    color: white;
}